// .github-corner {
//     z-index: 1 !important;
// }
.masthead {
    height: 100vh;
    // z-index: -1;
}

.map {
    width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: 100%;
}

#services {
    height: 100vh;
    .content-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

#portfolio {
    height: 100vh;
}

#sidebar-nav li:hover {
    background-color: black !important;
    a:hover {
        color: white !important;
        background-color: black !important;
        text-decoration: underline;
    }
}

.lead {
    font-size: 1em;
}

.btn,
.btn-primary {
    box-shadow: none !important;
    border: 0 !important;
}